<!-- Mobile Menu Start Here -->
<div class="mobile-menu">
  <nav class="mobile-header">
    <div class="header-logo">
      <a href="/"><img src="static/frontend/images/logo/01.png" alt="logo"></a>
    </div>
    <div class="header-bar">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <nav class="mobile-menu">
    <div class="mobile-menu-area">
      <div class="mobile-menu-area-inner">
        <ul class="lab-ul">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#">Lasted News</a></li>
          <li><a href="#">Faq</a></li>
          <li><a href="#">Newsletter</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- Mobile Menu Ending Here -->

<!-- desktop menu start here -->
<header class="header-section transparent-header">
  <div class="header-area">
    <div class="container">
      <div class="primary-menu">
        <div class="logo">
          <a href="/"><img src="static/frontend/images/logo/logo.png" alt="logo"></a>
                    </div>
        <div class="main-area">
          <div class="main-menu">
            <ul class="lab-ul">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">Lasted News</a></li>
              <li><a href="#">Faq</a></li>
              <li><a href="#">Newsletter</a></li>
              <li><a href="#">About</a></li>
          </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</header>
<!-- desktop menu ending here -->