<script src="static/frontend/js/jquery.js"></script>
<script src="static/frontend/js/waypoints.min.js"></script>
<script src="static/frontend/js/bootstrap.min.js"></script>
<script src="static/frontend/js/lightcase.js"></script>
<script src="static/frontend/js/isotope.pkgd.min.js"></script>
<script src="static/frontend/js/swiper.min.js"></script>
<script src="static/frontend/js/jquery.countdown.min.js"></script>
<script src="static/frontend/js/wow.min.js"></script>
<script src="static/frontend/js/functions.js"></script>
<script type="text/javascript" src="static/frontend/js/mdb.min.js"></script>
<script type="text/javascript" src="static/frontend/js/datatables.min.js"></script>
<!-- Your custom scripts (optional) -->
<script type="text/javascript">
    $(document).ready(function () {
        $('.table-covid').DataTable({
            "paging": false,
            "scrollY": "400px",
            "scrollCollapse": true,
            "order": [[ 1, "desc" ]]
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script> 