{% extends "layouts/base-site.html" %}

{% block title %} Dashboard {% endblock %} 

{% block content %}

    <div class="container-fluid">
      <div class="fade-in">
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary">
              <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                  <div class="text-value-lg">Today</div>
                  <div>Last update</div>
                </div>
                <div class="btn-group">
                    <a style="color: white;" href="#"> View Detail </a>
                </div>
              </div>
              <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart1" height="70"></canvas>
              </div>
            </div>
          </div>
          <!-- /.col-->
          <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
              <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                  <div class="text-value-lg">9.823</div>
                  <div>Record numbers</div>
                </div>
                <div class="btn-group">
                  <a style="color: white;" href="#"> View Detail </a>
                </div>
              </div>
              <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart2" height="70"></canvas>
              </div>
            </div>
          </div>
          <!-- /.col-->
          <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-warning">
              <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                  <div class="text-value-lg">9.823</div>
                  <div>Number of users</div>
                </div>
                <div class="btn-group">
                  <a style="color: white;" href="#"> View Detail </a>
                </div>
              </div>
              <div class="c-chart-wrapper mt-3" style="height:70px;">
                <canvas class="chart" id="card-chart3" height="70"></canvas>
              </div>
            </div>
          </div>
          <!-- /.col-->
          <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-danger">
              <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                  <div class="text-value-lg">9.823</div>
                  <div>Members online</div>
                </div>
                <div class="btn-group">
                  <a style="color: white;" href="#"> View Detail </a>
                </div>
              </div>
              <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart4" height="70"></canvas>
              </div>
            </div>
          </div>
          <!-- /.col-->
        </div>
        <!-- /.row-->
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <h4 class="card-title mb-0">Traffic</h4>
                <div class="small text-muted">September 2019</div>
              </div>
            <div class="c-chart-wrapper" style="height:300px;margin-top:40px;">
              
            </div>
          </div>
       
      </div>
    </div>

{% endblock content %}

{% block javascripts %}

<script src="/static/assets/vendors/@coreui/coreui-chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/js/main.js"></script>

{% endblock javascripts %}
